/* 隐藏滚动条 */
::-webkit-scrollbar {
  width: 12px;
}

.select {
  margin-left: 20px;
}

.title{
  padding-left: 5px;
}
.markdown-content {
  outline: none;
  border: none;
  padding: 5px;
  width: 95%;
  margin-top:5px;
  overflow: auto;
  height: 65vh;
}

.html-content {
  background-color: #fff;
  outline: none;
  border: none;
  width: 95%;
  margin-top: 10px;
  overflow: auto;
  padding: 5px;
  max-height: 340px;
  min-height: 50px;
}

.saveArticle {
  margin-right: 5px;
}

.description-content {
  outline: none;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
  background-color: #fff;
  height: 20vh;
}

.description-html {
  background-color: #fff;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  height: 20vh;
  overflow: auto;
}

.datePicker {
  margin-top: 20px;
  height: 20px;
  line-height: 35px;
}

.editor-container{
  margin-top: 20px;
  margin-left: 5px;
}


.CodeMirror cm-s-default{
  height: 100vh;
}
